<div class="intro agencia">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 centered">
      <h1>La publicidad tradicional ya no funciona.</h1>
        </h2>
      </div>
    </div> <!-- End container -->
  </div>  <!-- End Intro -->

<div class="section gray">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <p>The Influence está comprometido en subir el nivel digital de tu agencia y ayudarte a superar las expectativas de tus clientes. Nuestras soluciones tecnológicas incluyen herramientas para influír a tus consumidores y medir los resultados. Un Success Manager de The Influence te apoya en la configuración de cada tecnología para luego acompañarte en la ejecución.</p>
      </div>
    </div> <!-- End container -->
  </div> <!-- End Section 1 -->


<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">

      <h1>Nuestras soluciones incluyen:</h1>
      <hr>
      
      <h1>Escucha</h1>

      <img src="assets/icons/icon-escucha.svg" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>Con millones de conversaciones ocurriendo cada segundo, interpretar lo que se habla en las redes sociales de tu marca es clave. Con nuestra solución de Escucha puedes entender quiénes lideran las conversaciones y de qué están hablando.</p>
      <p>Establece conversaciones genuinas con millones de consumidores a un nivel más personal.</p>

    </div>
  </div>
</div>

<div class="section gray">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Optimiza</h1>

      <img src="assets/icons/icon-optimiza.svg" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>A la hora de comprar medios en redes sociales, hay docenas de variables que tomar en cuenta: precios de subasta en tiempo real, audiencia de ese momento y configuración ideal de elementos creativos. Deja que un algorítmo optimice el trabajo por ti. </p>

      <p>Nuestra solución de Optimiza es una de las 3 tecnologías autorizadas por Facebook a nivel global para optimizar tu inversión en publicidad.</p>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Viraliza</h1>

      <img src="assets/icons/icon-viraliza.svg" class="img-responsive" style="max-width:350px; padding: 10px 0px 0px 0px; margin-bottom: -60px;">
      
      <p>El consumo de video en medios digitales crece masivamente.  Nuestra solución de Viraliza permite segmentar campañas de video en los sitios más populares de la web, blogs, juegos y redes sociales, pagando únicamente por la acción que deseas.</p>
      
      <p>Con datos interpretados y analizados por nuestras soluciones podrás maximizar el impacto de tus video en línea.</p>

    </div>
  </div>
</div>




<div class="section cta">
  <div class="container">
  <div class="col-md-8 centered col-md-offset-2">
    <h3>Tenemos soluciones hechas a la medida.</h3>
     <a href="/contacts/new"><button type="button" class="btn btn-a btn-big btn-blue">Cotiza Aquí</button></a>
   </div>
  </div>
</div> <!-- End Section -->

<%= render 'layouts/modalsimple' %>
