<div class="intro anunciante">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 centered">
      <h1>Para mantenerse líder, tu empresa debe dominar la web.</h1>
        </h2>
      </div>
    </div> <!-- End container -->
  </div>  <!-- End Intro -->

<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">

      <h1>Nuestras soluciones incluyen:</h1>
      <hr>
      
      <h1>Escucha</h1>

      <img src="assets/icons/icon-escucha.png" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>Con millones de conversaciones ocurriendo cada segundo, interpretarlas es clave para entender el comportamiento de tu mercado. Con nuestra solución de Escucha puedes escuchar, entender y fidelizar a tus consumidores en tiempo real.</p>

    </div>
  </div>
</div>

<div class="section gray">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1 style="margin-bottom: 0px;">Optimiza</h1>
			<p style="text-align: center; font-size: .8em; margin: 0px;">Powered by Unified Technology</p>

      <img src="assets/icons/icon-optimiza.png" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>Es imposible medir el ROI de medios tradicionales, los resultados siempre son inciertos. Los medios digitales resuelven estas ineficiencias.</p>
      <p>Nuestra solución Optimiza maneja tu inversión en publicidad digital de la forma más eficiente posible. Un algorítmo analiza docenas de variables en tiempo real para invertir, o dejar de invertir, en el momento óptimo.</p>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Viraliza</h1>

      <img src="assets/icons/icon-viraliza.png" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>Pautar en TV ha sido la practica más popular desde hace más de 70 años. La web y las redes sociales vienen a cambiar esto. Con The Influence no te quedarás atrás.</p>

      <p>Con nuestras soluciones de Viraliza llegarás a quien debes de llegar y pagarás solo por lo que debes de pagar.</p>

    </div>
  </div>
</div>









<div class="section cta">
  <div class="container">
  <div class="col-md-8 centered col-md-offset-2">
    <h3>Tenemos soluciones hechas a la medida.</h3>
     <a href="/contacts/new"><button type="button" class="btn btn-a btn-big btn-blue">Cotiza Aquí</button></a>
   </div>
  </div>
</div> <!-- End Section -->

<%= render 'layouts/modalsimple' %>
