<div class="intro">
  <div class="container">
    <div class="col-md-12 centered">
    </div> <!-- col -->
  </div> <!-- container -->
</div> <!-- intro -->


<div class="section border">
  <div class="container">
  <div class="col-md-8 centered col-md-offset-2">
     <h2>¿Tienes preguntas?</h2><br>
     <h4>Llámanos al 1-844-GETINFLUENCE</h4>
     <h4>o escríbenos a hola@theinfluence.co</h4>
   </div>
  </div>
</div> <!-- End Section -->




