
<div id="solucion">
  <div class="desc">
    <div class="row">
      <div class="col-sm-offset-1 col-sm-10 techead">
        <h1>Tecnología y personas para dominar la web.</h1>
      </div>
    </div>

    <div class="row">
      <div class="lecarousel">
        <div id="carousel-example-generic" class="carousel slide">
          <!-- Indicators -->

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <h4>Escucha</h4>
                  <p>Escucha, participa e influye en la conversación.<br><br><a href="/social"><button type="button" class="btn btn-a btn-small btn-white2">Conoce más</button></a></a></p>
                </div>
                <div class="col-md-6 centered">
                  <a href="/social"><img src="assets/socialscreen.png" style="max-height: 319px;" alt=""></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <h4 style="margin-bottom: 0px;">Optimiza</h4>
									<p style="font-size: .8em; margin: 0px;">Powered by Unified Technology</p>

                  <p style="font-size: .9em;">Deja que un algoritmo compre tus medios en redes sociales y maximiza el rendimiento de tu inversión.<br><br><a href="/media"><button type="button" class="btn btn-a btn-small btn-white2">Conoce más</button></a></a></p>
                </div>
                <div class="col-md-6 centered">
                  <a href="/media"><img src="assets/screenmedia.png" style="max-height: 319px;"  alt=""></a>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <h4>Viraliza</h4>
                  <p>Distribuye video masivamente de forma segmentada y costo-eficiente.<br><br><a href="/targeted_video"><button type="button" class="btn btn-a btn-small btn-white2">Conoce más</button></a></a></p>
                </div>
                <div class="col-md-6 centered">
                  <a href="/targeted_video"><img src="assets/screentargeted.png"  alt=""></a>
                </div>
              </div>
            </div>

            <div class="item">
              <div class="row">
                <div class="col-md-offset-1 col-md-4">
                  <h4>Success Management</h4>
                  <p>Uno de nuestros representantes te ayuda a obtener resultados.<br><br><a href="/nosotros"><button type="button" class="btn btn-a btn-small btn-white2">Conoce más</button></a></a></p>
                </div>
                <div class="col-md-6 centered">
                  <a href="/nosotros"><img src="assets/successscreen.png"  alt=""></a>
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>

    </div>
  </div><!-- row -->
</div> <!-- Fin Solucion -->

<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#agencias" data-toggle="tab">Agencias</a></li>
        <li><a href="#anunciantes" data-toggle="tab">Anunciantes</a></li>
      </ul>
      <!-- Tab panes -->

      <div class="tab-content">
        <div class="tab-pane active content" id="agencias">
          <div class="col-md-7">
            <h1>Entrégale resultados a tus clientes cada mes.</h1>
            <p>Nuestras soluciones incluyen herramientas para influír en la percepción de tus marcas, comprar medios para optimizar su rendimiento y posicionar a tus clientes como líderes dentro de su industria.</p>
            <div class="centered">
              <a href="/agencias"><button type="button" class="btn btn-a btn-small btn-blue">Conoce más</button></a>
            </div>
          </div>
          <div class="col-md-5">
            <img src="assets/landingagencia.jpg" class="img-responsive" style="max-height:300px;">
          </div>

        </div>


        <div class="tab-pane content" id="anunciantes">
          <div class="col-md-7">
            <h1>Convierte a tu equipo en expertos de redes sociales. </h1>
            <p>Obtén una ventaja competitiva utilizando soluciones tecnológicas que revelan en quién enfocarse y cómo llegar a ellos de forma costo-eficiente. Haz que tu publicidad sea tan medible como el resto de tus operaciones.</p>
            <div class="centered">
              <a href="/anunciantes"><button type="button" class="btn btn-a btn-small btn-blue">Conoce más</button></a>
            </div>
          </div>
          <div class="col-md-5">
            <img src="assets/landinganunciante.jpg" class="img-responsive" style="max-height:300px;">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript"> /*Crazy Egg*/
setTimeout(function(){var a=document.createElement("script");
    var b=document.getElementsByTagName("script")[0];
    a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/6861.js?"+Math.floor(new Date().getTime()/3600000);
    a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

