<div class="section gray">
  <div class="container">
    <div class="col-md-9 col-md-offset-1">
        <h3>Por qué la tecnología</h3>
        <p><strong>Contamos con las herramientas más avanzadas del mundo. ¿Cómo sabemos? Porque las probamos todas.</p></strong>
        <p>Mantenerse a la vanguardia es clave para tener una ventaja competitiva. Sin embargo, con la abundancia de tecnologías que surgen día a día, investigar, encontrar, probar y analizar cada herramienta es demasiado desgastante para tu departamento de mercadeo, ventas o innovación.</p>
        <p>Nuestras relaciones en Silicon Valley, Nueva York y otros hubs tecnológicos nos permiten traerte las tecnologías más avanzadas del mundo antes que cualquiera.</p>
    </div>
  </div>
</div> <!-- End Section -->


<div class="intro">
  <div class="container">
    <div class="col-md-12 centered">
      <span class="video-link" data-video-id="y-nx-0hjXWjhk">
           <img src="assets/play.png" class="play"></a>
      </span>
      <h2>Conoce a nuestro equipo</h2>
    </div>
  </div>
</div>


<div class="equipofull">
    <div class="container bios">
      <div class="row">
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/edu.png">
          <h3>Eduardo Benchoam</h3>
          <h4>Director Ejecutivo</h4>
          <a href="http://twitter.com/doneduardon"><img src="assets/team/twitter.png"></a>
          <a href="http://gt.linkedin.com/in/eduardobenchoam"><img src="assets/team/linkedin.png"></a>
    
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/pablo.png">
          <h3>Pablo Estrada </h3>
          <h4>Director Comercial</h4>
          <a href="https://twitter.com/PabloEstradaF"><img src="assets/team/twitter.png"></a>
          <a href="http://gt.linkedin.com/in/pabloestradaf/en"><img src="assets/team/linkedin.png"></a>
          
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/diego.png">
          <h3>Diego Rios</h3>
          <h4>Director Administrativo</h4>
          <a href="http://gt.linkedin.com/pub/diego-rios/10/462/83"><img src="assets/team/linkedin.png"></a>
          
        </div><!-- /.col-sm-4 -->
      </div><!-- /.row -->
    </div>

    <div class="container bios">
      <div class="row">
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/isa.png">
          <h3>Ana Isabel Gadala</h3>
          <h4>Head of Product</h4>
          <a href="https://twitter.com/IsaGadala"><img src="assets/team/twitter.png"></a>
          <a href="http://www.linkedin.com/pub/isabel-gadala/42/62/513"><img src="assets/team/linkedin.png"></a>
    
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/alejo.png">
          <h3>Alejandro Rivera </h3>
          <h4>CTO</h4>
          <a href="https://twitter.com/alejoriveralara"><img src="assets/team/twitter.png"></a>
          <a href="http://www.linkedin.com/in/alejoriveralara"><img src="assets/team/linkedin.png"></a>

        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/nacho.png">
          <h3>Nacho Galindo</h3>
          <h4>Designer</h4>
          
          
        </div><!-- /.col-sm-4 -->
      </div><!-- /.row -->
    </div>

     <div class="container bios">
      <div class="row">
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/lucas.JPG" width="140px" height="140px">
          <h3>Lucas Dougherty</h3>
          <h4>Public Affairs/Board Member</h4>
          <a href="http://gt.linkedin.com/pub/lucas-dougherty/65/150/608"><img src="assets/team/linkedin.png"></a>
    
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/alison.png">
          <h3>Alison Davis </h3>
          <h4>Advisor/Board Member</h4>
          <a href="http://www.linkedin.com/profile/view?id=24961382&locale=en_US&trk=tyah&trkInfo=tas%3Aalison%2Cidx%3A2-1-2"><img src="assets/team/linkedin.png"></a>

        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4 centered">
          <img class="img-circle" src="assets/team/andres.png">
          <h3>Andrés Hernandez</h3>
          <h4>Advisor/Board Member</h4>
          <a href="http://cr.linkedin.com/in/andreherca"><img src="assets/team/linkedin.png"></a>
          <a href="http://twitter.com/andreherca"><img src="assets/team/twitter.png"></a>
      
          
        </div><!-- /.col-sm-4 -->
      </div><!-- /.row -->
    </div>
</div> <!-- .equipofull -->


<div class="section cta">
  <div class="container">
  <div class="col-md-8 centered col-md-offset-2">
     <h2>¿Tienes preguntas?</h2><br>
     <h4>Llámanos al +1-844-GETINFLUENCE</h4>
     <h4>o escríbenos a <a href="mailto:hola@theinfluence.co">hola@theinfluence.co</a></h4>
      <br>


     <a href="https://drive.google.com/folderview?id=0B74fnt11Ppu7YVk2U0NiREoyMFE&usp=sharing" target="_blank"><button type="button" class="btn btn-a btn-big btn-blue">Descarga nuestro Kit de Prensa</button></a>
   </div>
  </div>
</div> <!-- End Section -->




<script type="text/javascript">
  $(function() {
    $(".video-link").jqueryVideoLightning({
        autoplay: 1,
        backdrop_color: "#fff",
        backdrop_opacity: "0.8",
        autohide: 1,
        theme: "light",
        width: "960px",
        height: "540px",
        modestbranding: 1,
        iv_load_policy: 3
    });
});
</script>