<div class="intro partners">
    <div class="container">
      <div class="col-md-10 col-md-offset-1 centered">
      <h1>Cada día surge algo mejor.</h1>
        </h2>
      </div>
    </div> <!-- End container -->
  </div>  <!-- End Intro -->

<div class="section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <p>El ritmo de innovación dentro de la industria publicitaria no tiene precedentes. Debido al tamaño del mercado, cada día docenas de compañías reciben inversiones millonarias para desarrollar la próxima tecnología disruptiva. The Influence entiende esto. Hemos desarrollado relaciones en Silicon Valley y Nueva York para encontrar, probar y traer las tecnologías más avanzadas del mundo a Latinoamérica.</p>

        <p>Sabemos que tu empresa tiene el expertise para implementar la estrategia digital de tus clientes. Buscamos socios interesados en explotar nuestras soluciones tecnológicas de marketing. Nosotros ponemos la tecnología y entrenamos a tu equipo para que agregue valor.</p>
      </div>
    </div> <!-- End container -->
  </div> <!-- End Section 1 -->


<div class="section gray">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Nuestras soluciones incluyen:</h1>
      <hr>

      <h1>Social Intelligence</h1>

      <img src="assets/socialimac.png" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>Con millones de conversaciones ocurriendo cada segundo, interpretar las redes sociales es clave para superar las metas estratégicas de tus clientes. Con nuestra solución de Social Intelligence, tus clientes puede entender los perfiles demográficos y psicográficos detrás de las conversaciones, encontrar el contenido que genera mayor participación activa e identificar a los influenciadores que pueden amplificar su mensaje.</p>
      <p>Ayuda a tus clientes a conversar con millones de consumidores a un nivel más personal.</p>

    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Paid Media Optimization</h1>

      <img src="assets/mediaimac.png" class="img-responsive" style="max-width:350px; padding: 10px 0px;">
      
      <p>A la hora de comprar medios en redes sociales, hay docenas de variables que tomar en cuenta: precios de subasta en tiempo real, audiencia de ese momento y configuración ideal de elementos creativos. En vez de activar y desactivar las compras manualmente, deja que un algorítmo haga el trabajo por tí.</p>
      <p>Nuestra solución Paid Media Optimization es uno de 3 socios autorizados por Facebook a nivel global para comprar medios programáticamente utilizando sus datos completos.</p>

    </div>
  </div>
</div>

<div class="section gray">
  <div class="container">
    <div class="col-md-8 col-md-offset-2 centered">
      
      <h1>Targeted Video At Scale</h1>

      <img src="assets/targetedvideomacbook.png" class="img-responsive" style="max-width:350px; padding: 10px 0px 0px 0px; margin-bottom: -60px;">
      
      <p>El consumo de video en pantallas móviles continúa a un crecimiento sin precedentes. Extender las campañas de TV tradicional a la web, o lanzar campañas exclusivas en línea, es la forma de llegar a las audiencias jóvenes de forma masiva. Nuestra solución de Targeted Video At Scale permite segmentar campañas de video en los sitios más populares de la web, blogs, juegos y redes sociales, pagando únicamente por la acción que tu cliente elija. </p>
      <p>Con analítica profunda podrás fácilmente visualizar qué funciona y maximizar el ROI en video en línea de tu cliente.</p>

    </div>
  </div>
</div>



<div class="section cta">
  <div class="container">
  <div class="col-md-8 centered col-md-offset-2">
    <h3>Tenemos soluciones hechas a la medida.</h3>
     <a href="/contacts/new"><button type="button" class="btn btn-a btn-big btn-blue">Cotiza Aquí</button></a>
   </div>
  </div>
</div> <!-- End Section -->

<%= render 'layouts/modalsimple' %>
