
 
/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);

/* General */

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

.row1 {
  margin-right: -15px;
  margin-left: -15px;
}

/* Titulos */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 500;
    color: #333;
}


/* Parrafos & Typografia */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navbar-inverse {
	background: white;
	border-color: #f2f2f2;
}

.navbar-inverse .navbar-nav > .active > a {
	background: #28b4d3;
}

.navbar-inverse .navbar-brand {
	color: #999999;
	font-size: 32px;
	letter-spacing: -1px;
  font-weight: 600;
}

.navbar-inverse .navbar-brand i {
	color: #ff7878;
	font-size: 22px;
	letter-spacing: 1px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
color: black;
background-color: transparent;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

/* ==========================================================================
   Secciones
   ========================================================================== */

#headerwrap {
	background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-top: 100px;
	color: white;
	font-size: 70px;
	font-weight: 300;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}



/* Barra Producto Arriba */

#blue {
	background: #f2f2f2;
	padding-top: 35px;
}

#blue h4 {
	color: #555;
	font-weight: 700;
}

#blue p {
	color: #555;
}



/*FOOTER*/

#footer {
  padding: 50px 0px;
  background-color: #1B1F23;
  color: #7F8C8D;
  font-size: 14px;
  font-family: "Lato";
  font-weight: 300;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}

#footer a.brand {
  color: #ffffff;
  font-weight: normal;
}

#footer .brand {
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "lato", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

#footer a:hover {
  color: #bdc3c7;
  text-decoration: none;
}

#footer h6 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 300;
  text-transform: none;
}

#footer .address {
  line-height: 1.6;
}

/* Footer Wrap */
#f {
  background: #2d2d2d;
  padding-top: 30px;
  padding-bottom: 30px;
}

#footer i {
  color: #bdbdbd;
  font-size: 30px;
  padding: 20px;
}

#footer i:hover {
  color: #28b4d3;
}

#footer .col-md-4 {
  text-align: center;
}




/* Barra Más Productos */

#mas {
    background: #f2f2f2;
    margin-bottom: 40px;
    padding-top: 35px;
}

#mas h4 {
    color: #555;
    font-weight: 700;
}

#mas p {
    color: #555;
}

/****** SECCIONES *****/

.w {
	padding-top: 35px;
}

.w h4 {
	font-weight: 700;
}

.w i {
	color: #ff7878;
	font-size: 30px;
}


.wb {
	padding-top: 35px;
	margin-bottom: 0px;
}

.wb h4 {
	font-weight: 700;
}

.desc {
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    background-color: white;
}

.desc h4 {
	font-weight: 700;
}

.desc i {
	color: #ff7878;
	font-size: 12px;
	padding: 5px;
}

.desc1 {
    margin-top: 40px;
    padding-bottom: 45px;
    padding-right: 10px;
    background-color: white;
}

.desc1 h4 {
    font-weight: 700;
    padding-top: 30px;
}


.desc2 {
    margin-top: 15px;
    padding: 35px 10px 35px 40px;
    background-color: white;
}

.desc2 h4 {
    font-weight: 700;
}

.desc2 i {
    color: #ff7878;
    font-size: 12px;
    padding: 5px;
}



/****** Header Producto *****/

.logoem{
    margin:80px;
}

.logosm{
    width: 216px;
    height: 86px;
    margin-left: 10px;

}

.nombre {
    padding-top: 15px;
}

/****** Foto Gallery *****/
.thumb { width: 75px; height: 75px; }
li { display: inline; margin-right: 10px; }

#bigImg{
    margin-bottom: 20px;
}


#circle1 {
    text-align: center;
    margin: 20px 10px;
}

.thumb1{
    height: 90px;
    width: 90px;
}

ul, ol {
    margin-bottom: 10px;
    margin-top: 5px ;
}

li {
    display: inline;
    margin-right: 10px;
}

.thumb {
    height: 75px;
    width: 75px;
}

/****** Recursos *****/

p.resourcedesc {
  line-height: 14px;
  font-size: 12px;
  margin-top:10px;
}


.resources{
  margin-right: 50px;
  margin-left: 50px;
}


/*MODAL*/

.modal-header {
  background-image: url('../img/webpreview.png');
  background-position: 50% 50%;
  padding: 50px 15px;
  color: #fff;
  margin-bottom: 15px;
}

.modal-header h4 {
  font-size: 21px;
  color: #fff;
  font-weight: 500;
}

.modal-body {
  color: #666;
}

.modal-footer {
  padding: 10px 10px 10px;
  margin-top: 0px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.btn-4 {
  box-sizing: border-box;
  border: 2px solid #bdc3c7;
  background-color: #bdc3c7;
  font-size: 15px;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 8px 10px;
  color: #fff;
  line-height: 20px;
}

.btn-4:hover {
  background-color: #cacfd2;
  color: #fff;
  border: 2px solid #cacfd2;
}



/*Navbar hover color fix*/

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #C2C2C2;
background-color: transparent;
}