<div id="dashboard-container" class="col-lg-12">
  <div class="container">
    <div class="view-container">

      <h2>Nuevo Usuario</h2>

      <%= render 'form' %>
      <p class="back-link"><%= link_to 'Atrás', :admin %></p>

      <br/>
      <br/>
    </div>
  </div>
</div>
