<div class="contactform">
    <div class="container">
        <div align="center">
            <h3>
              Únete a la lista de espera. <br>
              Nuestro equipo te contactará pronto.</h3>
            <div class="authform contactbox">
              <%= render 'form' %>
            </div>
        </div>
    </div>

</div>