
#container{
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
	-webkit-border-radius: 0 0 8px 8px;
	-moz-border-radius: 0 0 8px 8px;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
}


.carousel{
  height: 300px;
  overflow: hidden;
}

#container img{
	display: block;
}

#gallery, #thumbs{
	float: left;
}
#gallery{
	width: 700px;
	height: 300px;
	overflow: hidden;
}
#gallery img{
	position: absolute;
}
#thumbs{
	width: 250px;
	height: 300px;
	position: relative;
	overflow: hidden;
}
#thumbs img {
	margin: 0;
	height: 100px;
}
#next{
	display: block;
	width: 40px;
	height: 40px;
	background: url(/assets/arrow.png) 0;
	position: relative;
	top: 292px;
	left: 910px;
}
#next:hover{
	background: url(/assets/arrow.png) 0 0;
	top: 257px;
	height: 43px;
}

/* additions */

#gallery .item {
	position: absolute;
}

