// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Variable definitions

$color-gray: #CCC;

//Styles

#chat{

  margin-bottom: 4em;

  .avatar{

    img{
      border-radius: 50%;
      max-width: 150px;
      width: 100%;
    }
  }

  .chat-info{
    margin-top: 1em;
  }

}

#dashboard-container{
  padding-right: 40px;
  padding-left: 40px;

  h2{
    border-bottom: 1px solid #eee;
    margin: 0em 0em 1em 0em;
    padding: 0.5em 0em;
  }

  .lecarousel{
    margin-bottom: 4em;
  }
}

#dashboard-menu{
  ul{
    list-style: none;
    margin: 0px;
    padding: 0px;

    a{
      display: inline-block;
      padding: 1em;
      width: 100%;
    }

    a:hover{

    }
  }
}

#main-dashboard-container{
  padding-top: 2em;
}

#products{
  list-style: none;
  margin: 0em 0em 6em 0em;
  padding: 0em;

  li{
    text-align: center;

    a{
      display: inline-block;
      margin-bottom: 1em;

      img{
        margin-bottom: 0.5em;
        width: 100%;
      }
    }

  }
}

#product-resume{
  margin-bottom: 3em;

  h3.product-name{
    margin-bottom: 2px;
  }
}

#product-detail{
  margin-bottom: 3em;

  p.product-description{
    font-size: 1em;
    margin-bottom: 2em;
  }

  ul.product-benefits{
    li{
      margin-bottom: 0.5em;
    }
  }
}
