/*
Syntax error: File to import not found or unreadable: bootstrap.
              Load path: /Library/WebServer/Documents/theinfluence/app/assets/stylesheets
        on line 5 of display.css.scss

1: // Place all the styles related to the display controller here.
2: // They will automatically be included in application.css.
3: // You can use Sass (SCSS) here: http://sass-lang.com/
4: // import the CSS framework
5: @import "bootstrap";
6: 
7: // make all images responsive by default
8: 
9: // override for the 'Home' navigation link
10: .navbar-brand {

Backtrace:
display.css.scss:5
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `each'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:443:in `watch_or_update'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:326:in `process_result'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:41:in `parse'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/lib/sass/exec.rb:21:in `parse!'
/Users/owen/.rvm/gems/ruby-2.1.0/gems/sass-3.2.19/bin/scss:13:in `<top (required)>'
/Users/owen/.rvm/gems/ruby-2.1.0/bin/scss:23:in `load'
/Users/owen/.rvm/gems/ruby-2.1.0/bin/scss:23:in `<main>'
/Users/owen/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `eval'
/Users/owen/.rvm/gems/ruby-2.1.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: bootstrap.\A               Load path: /Library/WebServer/Documents/theinfluence/app/assets/stylesheets\A         on line 5 of display.css.scss\A \A 1: // Place all the styles related to the display controller here.\A 2: // They will automatically be included in application.css.\A 3: // You can use Sass (SCSS) here: http://sass-lang.com/\A 4: // import the CSS framework\A 5: @import \"bootstrap\";\A 6: \A 7: // make all images responsive by default\A 8: \A 9: // override for the 'Home' navigation link\A 10: .navbar-brand {"; }
