<div id="footer">
  <div class="container">
      <div class="row">
          <div class="col-md-2">                        
            <%= link_to image_tag("logo.png", :class => "logosm"), root_path, class: 'brand' %><br>
            © 2014 The Influence Marketplace, LLC.
          </div>
          <div class="col-md-4"> 
          <a href="https://www.facebook.com/theinfluencemarket"><i class="fa fa-facebook"></i></a><a href="http://www.linkedin.com/company/the-influence" target="_blank"><i class="fa fa-linkedin"></i></a><a href="http://blog.theinfluence.co" target="_blank"><i class="fa fa-rss"></i></a>
          </div>
          <div class="col-md-3">                        
           <h6>Guatemala</h6>
            Via 5 1-23 Zona 4, 4 Grados Norte,
            Ciudad de Guatemala, 
            Guatemala 01014
          </div> 
          <div class="col-md-3">                        
            <h6>Silicon Valley</h6>
            550 15th St
            Suite 29A
            San Francisco, CA 94103
          </div>
          
      </div>
  </div>
</div> <!-- Fin Footer -->
