
<% if user_signed_in? and current_user.role? :admin %>
  <li><%= link_to 'Usuarios', users_path %></li>
<% end %>


<% if user_signed_in? %>
  <li><%= link_to 'Editar Cuenta', edit_user_registration_path %></li>
<% else %>
<% end %>


<% if user_signed_in? %>
  <li><%= link_to 'Salir', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Ingresa', new_user_session_path %></li>
<% end %>
